<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <h2 mat-dialog-title>Modification de la ligne budgétaire</h2>

    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Libellé" [(ngModel)]="budgetItem.name" name="name">

        </mat-form-field>
        <br />
        <mat-form-field style="min-width:300px;">
            <mat-select [(value)]="budgetItem.categoryId" placeholder="Choisir une catégorie">
                <mat-option *ngFor="let categoryOption of categories" [value]="categoryOption.id">{{categoryOption.categoryName}}</mat-option>

            </mat-select>
        </mat-form-field>


    </div>

    <div mat-dialog-actions>
        <button mat-raised-button type="button" data-dismiss="modal" (click)="onNoClick()">
            <mat-icon>block</mat-icon>&nbsp;
            <span>Annuler</span>
        </button>
        <button mat-raised-button type="submit" color="primary" [disabled]="editForm.form.invalid || isSaving">
            <mat-icon>save_alt</mat-icon>&nbsp;
            <span>Sauvegarder</span>
        </button>
    </div>

</form>