<div>
    <h1 id="page-heading" class="mat-display-1">
        <span>Liste des dépenses budgétaires</span>
        <button mat-icon-button (click)="openCreateDialog()" class="float-right">
            <mat-icon color="primary" class="material-icons md-48" matTooltip="Ajouter une ligne budgétaire" matTooltipPosition="left">add_box</mat-icon>
          </button>
        
    </h1>

    <div class="container">
        <div class="row"><br /></div>
        <div class="row">

            <div class="col-lg-4">
                <mat-form-field>
                    <input matInput [matDatepicker]="dp" placeholder="Sélectionner le mois" [formControl]="dateFormControl">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="year" (monthSelected)="chosenMonthHandler($event, dp)" disabled="false">
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field>
                    <mat-select [(value)]="filterSelectedCategory" placeholder="Choisir une catégorie">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let category of filterCategories" [value]="category">{{category.categoryName}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field>
                    <input matInput [(ngModel)]="filterContains" placeholder="Filtrer le nom"/>

                </mat-form-field>
            </div>

            <div class="row">

            </div>
        </div>
    </div>


    <jhi-mya-budget-item-list [selectedMonth]="selectedMonth" [filterSelectedCategory]="filterSelectedCategory"
        [filterContains]="filterContains"></jhi-mya-budget-item-list>

</div>