<!-- <td><a [routerLink]="['../budget-item', budgetItem.id ]">{{budgetItem.id}}</a></td> -->
<td style="vertical-align:middle;text-align:center">
    <div *ngIf="!isFirstInList">
        <a><i (click)="up()">
                <fa-icon [icon]="'sort-up'" class="text-info"></fa-icon>
            </i></a>
    </div>
    <div *ngIf="!isLastInList">
        <a><i (click)="down()">
                <fa-icon [icon]="'sort-down'" class="text-info"></fa-icon>
            </i></a>
    </div>

</td>
<td style="vertical-align:middle;text-align:center" >
    <jhi-mya-category-icon categoryId="{{budgetItem.categoryId}}" iconSize="36"></jhi-mya-category-icon>
</td>
<td style="font-size: 90%;vertical-align:middle">{{budgetItem.name}}
    <button mat-icon-button (click)="openUpdateDialog()" matTooltip="Modifier" matTooltipPosition="above">
        <mat-icon color="primary" style="font-size: 90%;vertical-align:middle">create</mat-icon>
    </button>
</td>
<!-- <td>{{budgetItem.order}}</td> -->
<td style="font-size: 90%;vertical-align:middle">
    <div *ngIf="budgetItem.categoryId">
        {{budgetItem.categoryCategoryName}}
    </div>
</td>
<td *ngFor="let budgetItemPeriodArray of budgetItemPeriods; let first = first; let last = last;" [ngClass]="{'table-primary': first}">
    <div *ngIf="budgetItemPeriodArray">

        <table style="margin: 0em; background-color:rgba(0, 0, 0, 0); border: 0em;">
            <tr *ngFor="let budgetItemPeriod of budgetItemPeriodArray;" style="margin: 0em; background-color:rgba(0, 0, 0, 0); border: 0em;">
                
                <jhi-mya-budget-item-period-cell [budgetItemPeriod]="budgetItemPeriod" [isFirst]="first" [isLast]="isLast(budgetItemPeriod)"></jhi-mya-budget-item-period-cell>

            </tr>
        </table>
    </div>
</td>

<td class="text-right" style="vertical-align:middle;">
    <div class="btn-group flex-btn-group-container">
        <button mat-icon-button (click)="openDeleteDialog()" matTooltip="Supprimer" matTooltipPosition="above">
            <mat-icon color="warn">delete_forever</mat-icon>
        </button>
    </div>
</td>