<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <h2 mat-dialog-title>Création d'une nouvelle ligne budgétaire</h2>

    <div mat-dialog-content>

        <mat-form-field>
            <input matInput placeholder="Libellé" name="name" [(ngModel)]="budgetItem.name" required minlength="5"
                maxlength="100" />
        </mat-form-field>


        <mat-form-field style="min-width:300px;">
            <mat-select [(value)]="selectedCategory" placeholder="Choisir une catégorie">
                <mat-option *ngFor="let categoryOption of categories" [value]="categoryOption">{{categoryOption.categoryName}}</mat-option>

            </mat-select>
        </mat-form-field>
        <div class="form-row" style="vertical-align: bottom;">
            <div class="form-group col-md-6">
                <mat-slide-toggle color="primary" [(ngModel)]="smoothed" name="smoothed">
                    Dépense lissée
                </mat-slide-toggle>
            </div>

            <div class="form-group col-md-6" [hidden]="smoothed">
                <mat-form-field>
                    <input matInput placeholder="Jour du Mois" name="dayOfMonth" [(ngModel)]="dayOfMonth" [required]="!smoothed" />
                </mat-form-field>
            </div>
        </div>
        <div class="form-row" style="vertical-align: middle;">
            <div class="form-group col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Montant" [(ngModel)]="amount" name="amount" required>
                    <span matSuffix>€</span>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field>
                    <input matInput [matDatepicker]="dp" placeholder="Sélectionner le mois de départ" [formControl]="dateFormControl">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)">
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            <mat-icon>block</mat-icon> Annuler
        </button>
        <button type="submit" (click)="save()" mat-raised-button mat-dialog-close color="primary">
            <mat-icon>save_alt</mat-icon>Sauvegarder
        </button>
    </div>

</form>