<div class="table-responsive" *ngIf="budgetItems">
    <table class="table table-striped table-sm table-bordered table-hover">
        <thead>
            <th></th>
            <th></th>
            <th><span>Libellé</span></th>

            <th><span>Catégorie</span></th>
            <th *ngFor="let month of monthsToDisplay; let first = first;" [ngClass]="{'table-primary': first}">{{month
                | date: 'MMM yyy'}}</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align:middle" *ngFor="let budgetItem of budgetItems ;let first = first; let last = last; trackBy: trackId"
                jhi-mya-budget-item-row [budgetItem]="budgetItem" [monthsToDisplay]="monthsToDisplay" [isFirstInList]=first
                [isLastInList]="last">
        </tbody>
    </table>
</div>