.home {
    color: rgb(194, 98, 119);
}
.money-bill-alt {
    color: rgb(50, 172, 234);
}
.shopping-cart {
    color: rgb(229, 142, 122);
}
.child {
    color: rgb(193, 203, 135);
}
.times {
    color: grey;
}
.gamepad {
    color: rgb(137, 109, 156);
}
.university {
    color: rgb(211, 119, 169);
}
.utensils {
    color: rgb(99, 115, 155);
}
.car {
    color: rgb(227, 173, 110);
}
.handshake {
    color: rgb(230, 210, 130);
}
.stethoscope {
    color: rgb(105, 178, 169);
}
.euro-sign {
    color: rgb(97, 182, 14);
}
.suitecase {
    color: rgb(136, 12, 81);
}
.question {
    color: darkgrey;
}
