.home {
    color: rgb(194, 98, 119);
}

.shopping_cart {
    color: rgb(229, 142, 122);
}
.account_balance {
    color: rgb(50, 172, 234);
}
.child_care {
    color: rgb(193, 203, 135);
}
.close {
    color: grey;
}
.gamepad {
    color: rgb(137, 109, 156);
}
.school {
    color: rgb(211, 119, 169);
}
.restaurant {
    color: rgb(99, 115, 155);
}
.directions_car {
    color: rgb(227, 173, 110);
}
.room_service {
    color: rgb(230, 210, 130);
}
.local_hospital {
    color: rgb(105, 178, 169);
}
.euro_symbol {
    color: rgb(97, 182, 14);
}
.card_travel {
    color: rgb(136, 12, 81);
}
.category {
    color: darkgrey;
}
