<div class="row">
  <div class="col-md-6 content-section implementation">
    <jhi-amount-global-per-day-in-month-report [month]="'2018-07-01'"></jhi-amount-global-per-day-in-month-report>
  </div>
  <div class="col-md-6 content-section implementation">
    <jhi-amount-global-per-day-in-month-report [month]="'2018-08-01'"></jhi-amount-global-per-day-in-month-report>
  </div>
</div>
<div class="row">
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="1"></jhi-amount-category-per-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="2"></jhi-amount-category-per-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="3"></jhi-amount-category-per-month-report>
  </div>
</div>
<div class="row">
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="4"></jhi-amount-category-per-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="5"></jhi-amount-category-per-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="6"></jhi-amount-category-per-month-report>
  </div>
</div>
<div class="row">
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="7"></jhi-amount-category-per-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="8"></jhi-amount-category-per-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="9"></jhi-amount-category-per-month-report>
  </div>
</div>
<div class="row">
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="10"></jhi-amount-category-per-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="11"></jhi-amount-category-per-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-amount-category-per-month-report [categoryId]="12"></jhi-amount-category-per-month-report>
  </div>
</div>