<jhi-amount-evolution-in-month [accountId]="5" [month]="2018-07-01"></jhi-amount-evolution-in-month>
<div class="row">
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="1"></jhi-account-category-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="2"></jhi-account-category-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="3"></jhi-account-category-month-report>
  </div>
</div>
<div class="row">
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="4"></jhi-account-category-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="5"></jhi-account-category-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="6"></jhi-account-category-month-report>
  </div>
</div>
<div class="row">
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="7"></jhi-account-category-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="8"></jhi-account-category-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="9"></jhi-account-category-month-report>
  </div>
</div>
<div class="row">
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="10"></jhi-account-category-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="11"></jhi-account-category-month-report>
  </div>
  <div class="col-md-4 content-section implementation">
    <jhi-account-category-month-report [categoryId]="12"></jhi-account-category-month-report>
  </div>
</div>
