<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subCategory">
            <h2><span>Sub Category</span> {{subCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sub Category Name</span></dt>
                <dd>
                    <span>{{subCategory.subCategoryName}}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="subCategory.categoryId">
                        <a [routerLink]="['/category', subCategory.categoryId, 'view']">{{subCategory.categoryCategoryName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sub-category', subCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
