<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bankAccount">
            <h2><span>Bank Account</span> {{bankAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Account Name</span></dt>
                <dd>
                    <span>{{bankAccount.accountName}}</span>
                </dd>
                <dt><span>Account Bank</span></dt>
                <dd>
                    <span>{{bankAccount.accountBank}}</span>
                </dd>
                <dt><span>Initial Amount</span></dt>
                <dd>
                    <span>{{bankAccount.initialAmount}}</span>
                </dd>
                <dt><span>Archived</span></dt>
                <dd>
                    <span>{{bankAccount.archived}}</span>
                </dd>
                <dt><span>Short Name</span></dt>
                <dd>
                    <span>{{bankAccount.shortName}}</span>
                </dd>
                <dt><span>Account</span></dt>
                <dd>
                    {{bankAccount.accountLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
