<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bank-account-heading">Create or edit a Bank Account</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bankAccount.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bankAccount.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accountName">Account Name</label>
                    <input type="text" class="form-control" name="accountName" id="field_accountName"
                        [(ngModel)]="bankAccount.accountName" required/>
                    <div [hidden]="!(editForm.controls.accountName?.dirty && editForm.controls.accountName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.accountName?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accountBank">Account Bank</label>
                    <input type="text" class="form-control" name="accountBank" id="field_accountBank"
                        [(ngModel)]="bankAccount.accountBank" required/>
                    <div [hidden]="!(editForm.controls.accountBank?.dirty && editForm.controls.accountBank?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.accountBank?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_initialAmount">Initial Amount</label>
                    <input type="number" class="form-control" name="initialAmount" id="field_initialAmount"
                        [(ngModel)]="bankAccount.initialAmount" required/>
                    <div [hidden]="!(editForm.controls.initialAmount?.dirty && editForm.controls.initialAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.initialAmount?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.initialAmount?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_archived">Archived</label>
                    <input type="checkbox" class="form-control" name="archived" id="field_archived"
                        [(ngModel)]="bankAccount.archived" />
                    <div [hidden]="!(editForm.controls.archived?.dirty && editForm.controls.archived?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.archived?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shortName">Short Name</label>
                    <input type="text" class="form-control" name="shortName" id="field_shortName"
                        [(ngModel)]="bankAccount.shortName" maxlength="40"/>
                    <div [hidden]="!(editForm.controls.shortName?.dirty && editForm.controls.shortName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.shortName?.errors?.maxlength">
                        This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_account">Account</label>
                    <select class="form-control" id="field_account" name="account" [(ngModel)]="bankAccount.accountId"  required>
                        <option *ngIf="!editForm.value.account" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.account?.dirty && editForm.controls.account?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.account?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
