<mat-card>
  <mat-card-header>
    <mat-card-title>Evolution globale pour le mois de&nbsp;
      <mat-form-field>
        <input matInput [matDatepicker]="dp" [formControl]="selectedDateFormControl">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="year" (monthSelected)="chosenMonthHandler($event, dp)" disabled="false">
        </mat-datepicker>
      </mat-form-field>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="container-fluid" style="padding: 20px; align-content: center;">
      <div class="row">
        <div class="col-lg-4" style="text-align: center;">
          <h4 class="mat-h4">Evolution du solde</h4>
          <jhi-mya-amounts-between-dates [dateFrom]="balanceDateFrom" [dateTo]="balanceDateTo" [height]="'40vh'"></jhi-mya-amounts-between-dates>
        </div>
        <div class="col-lg-4" style="text-align: center;">
          <h4 class="mat-h4">Evolution dans le mois</h4>
          <jhi-mya-amount-global-per-day-in-month-report [month]="selectedMonth" [height]="'40vh'"></jhi-mya-amount-global-per-day-in-month-report>
        </div>
        <div class="col-lg-4" style="text-align: center;">
          <h4 class="mat-h4">Evolution par mois</h4>
          <jhi-mya-amount-evolution-with-average [monthTo]="selectedMonth" [monthFrom]="balanceDateFrom" [height]="'40vh'"></jhi-mya-amount-evolution-with-average>
        </div>
  </mat-card-content>
</mat-card>
<br />

<ng-template ngFor let-categoryId [ngForOf]="categoryIds">
  <br />
  <jhi-mya-category-report-summary [isSummary]="true" [categoryId]="categoryId" [monthTo]="currentMonth" [monthFrom]="currentMonthMinusNumberOfMonth"></jhi-mya-category-report-summary>
</ng-template>
<br />