<div>
    <h1 id="page-heading" class="mat-headline">
        <span>Détails de&nbsp;</span>
        <mat-form-field style="min-width:300px;">
            <mat-select [(value)]="category" [compareWith]="compareCategories">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let filterCategory of filterCategories" [value]="filterCategory">{{filterCategory.categoryName}}</mat-option>
            </mat-select>
        </mat-form-field> pour la période de &nbsp;
        <mat-form-field>
            <input matInput [matDatepicker]="dp" [formControl]="dateFormControl">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="year" (monthSelected)="chosenMonthHandler($event, dp)" disabled="false">
            </mat-datepicker>
        </mat-form-field>

    </h1>

    <jhi-mya-category-report-detail [categoryId]="category.id" [monthTo]="selectedMonth" [monthFrom]="monthMinusNumberOfMonth"></jhi-mya-category-report-detail>
    <br />
    <mat-card>
        <mat-card-title><h2 class="mat-title">Budgets</h2></mat-card-title>
        <mat-card-content>
            <jhi-mya-budget-item-list [selectedMonth]="selectedMonth" [filterSelectedCategory]="category"></jhi-mya-budget-item-list>
        </mat-card-content>
    </mat-card>
    <br />
    <mat-card>
        <mat-card-title><h2 class="mat-title">Opérations</h2></mat-card-title>
        <mat-card-content>
            <jhi-mya-operation-list [dateFrom]="selectedMonth" [monthOnly]="true" [filterSelectedCategory]="category"></jhi-mya-operation-list>
        </mat-card-content>
    </mat-card>
</div>