<mat-card>
    <mat-card-title>Résumé pour la catégorie "{{category.categoryName}}"</mat-card-title>

    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile>
                <p-chart type="line" [data]="dataPerMonth" [options]="optionsPerMonth" width="20vw" height="30vh"></p-chart>
            </mat-grid-tile>
            <mat-grid-tile>
                <p-chart type="line" [data]="dataPerMonthWithMarked" [options]="optionsPerMonthWithMarked" width="20vw"
                    height="30vh"></p-chart>
            </mat-grid-tile>

        </mat-grid-list>


    </mat-card-content>
    <mat-card-footer>
        <jhi-alert></jhi-alert>
    </mat-card-footer>
</mat-card>