<mat-card>
    <mat-card-title>Résumé pour la catégorie "{{category.categoryName}}"</mat-card-title>

    <mat-card-content>
        <div class="row">
            <div class="col-md-4">
                <p-chart type="line" [data]="dataPerMonth" [options]="optionsPerMonth" width="30vw" height="30vh"></p-chart>
            </div>
            <div class="col-md-4">
                <p-chart type="line" [data]="dataPerMonthWithMarked" [options]="optionsPerMonthWithMarked" width="30vw"
                    height="30vh"></p-chart>
            </div>
            <div class="col-md-2">
                <p-chart type="bar" [data]="dataCurrentBudget" [options]="optionsCurrentBudget" width="10vw"
                    height="30vh"></p-chart>
            </div>
            <div class="col-md-2">
                <p-chart type="bar" [data]="dataDeltaAtDate" [options]="optionsDeltaAtDate" width="10vw"
                    height="30vh"></p-chart>
            </div>

        </div>


    </mat-card-content>
    <mat-card-footer>
        <jhi-alert></jhi-alert>
    </mat-card-footer>
</mat-card>