<mat-card>
    <mat-card-title>
        <h2 class="mat-title">Détails pour la catégorie <i>{{ (category|async)?.categoryName }}</i></h2>
    </mat-card-title>
    <mat-card-content>
        <div class="container-fluid" style="padding: 20px; align-content: center;">
            <div class="row">
                <div class="col-lg-2" style="text-align: center;">
                    <h4 class="mat-h4">Delta à date<mat-icon class="material-icons md-14 md-primary" matTooltip="Delta entre le budget qui aurait dû être consommé à date et les opérations. Pour le mois en cours, la date de la dernière opération est prise en compte. Sinon, c'est la totalité du mois."
                            matTooltipPosition="right">info</mat-icon>
                    </h4>
                    <jhi-mya-amount-weather-status [categoryId]="categoryId" [monthTo]="monthTo" [monthFrom]="monthFrom"
                        [isSummary]="false"></jhi-mya-amount-weather-status>
                </div>
                <div class="col-lg-2" style="text-align: center;">
                    <h4 class="mat-h4">Evoluion et moyennes</h4>
                    <jhi-mya-amount-evolution-with-average [category]="(category | async)" [monthTo]="monthTo"
                        [monthFrom]="monthFrom" [height]="'30vh'"></jhi-mya-amount-evolution-with-average>
                </div>
                <div class="col-lg-2" style="text-align: center;">
                    <h4 class="mat-h4">Evoluion et pointages</h4>
                    <jhi-mya-amount-evolution-with-smoothed-and-marked [category]="(category | async)" [monthTo]="monthTo"
                        [monthFrom]="monthFrom" [height]="'30vh'"></jhi-mya-amount-evolution-with-smoothed-and-marked>
                </div>
                <div class="col-lg-2" style="text-align: center;">
                    <h4 class="mat-h4">Répartition sur le dernier mois</h4>
                    <jhi-mya-amount-category-split [categoryId]="categoryId" [month]="monthTo" [numberOfMonth]="1"
                        [height]="'30vh'"></jhi-mya-amount-category-split>
                </div>
                <div class="col-lg-2" style="text-align: center;">
                    <h4 class="mat-h4">Répartition sur les 12 derniers mois</h4>
                    <jhi-mya-amount-category-split [categoryId]="categoryId" [month]="monthTo" [numberOfMonth]="12"
                        [height]="'30vh'"></jhi-mya-amount-category-split>
                </div>
                <div class="col-lg-2" style="text-align: center;">
                    <h4 class="mat-h4">Evolution sur le mois</h4>
                    <jhi-mya-amount-global-per-day-in-month-report [month]="monthTo" [categoryId]="categoryId" [height]="'30vh'"></jhi-mya-amount-global-per-day-in-month-report>
                </div>
            </div>
        </div>

    </mat-card-content>
    <mat-card-footer>
        <a class="nav-link" [routerLink]="['/mya-category-dashboard/', categoryId ]">Afficher le détail</a>
        <jhi-alert></jhi-alert>
    </mat-card-footer>
</mat-card>