    <div mat-dialog-content>
       
        <mat-form-field>
            <input matInput placeholder="Min" [(ngModel)]="min" name="min">

        </mat-form-field>
        
        <mat-form-field >
            <input matInput placeholder="Max" [(ngModel)]="max" name="max">
        </mat-form-field>
        <button mat-fab (click)="loadAll()"
            color="primary">
            <mat-icon style="vertical-align: center;position: relative;" class="material-icons"
                matTooltip="Rafraichir" matTooltipPosition="left">autorenew</mat-icon>
        </button>
    </div>
<p-chart type="line" [data]="data" [options]="options" [height]="height"></p-chart>
