<mat-card>
    <mat-card-header>
        <mat-card-title>Résumé pour la catégorie "{{category.categoryName}}"</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <p-chart type="line" [data]="dataPerMonth" [options]="optionsPerMonth" width="100%" height="30vh"></p-chart>
                </div>
                <div class="col-lg-4">
                    <p-chart type="line" [data]="dataPerMonthWithMarked" [options]="optionsPerMonthWithMarked" width="100%"
                        height="30vh"></p-chart>
                </div>
                <div class="col-md-4">
                    <div class="container content">
                        <div class="row">
                            <div class="col-xs-6">
                                <p-chart type="bar" [data]="dataCurrentBudget" [options]="optionsCurrentBudget" width="100px"
                                    height="30vh"></p-chart>
                            </div>
                            <div class="col-xs-6">

                                <p-chart type="bar" [data]="dataDeltaAtDate" [options]="optionsDeltaAtDate" width="100px"
                                    height="30vh"></p-chart>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </mat-card-content>
    <mat-card-footer>
        <jhi-alert></jhi-alert>
    </mat-card-footer>
</mat-card>