<!-- <td><a [routerLink]="['../budget-item', budgetItem.id ]">{{budgetItem.id}}</a></td> -->
<td>
    <jhi-mya-category-icon categoryId="{{budgetItem.categoryId}}" iconSize="2x"></jhi-mya-category-icon>
</td>
<td>

    {{budgetItem.name}}
    <a [routerLink]="['/', { outlets: { popup: 'mya-budget-item/'+ budgetItem.id + '/edit'} }]"
        queryParamsHandling="merge">
        <fa-icon [icon]="'pencil-alt'" size="xs"></fa-icon>
    </a>
</td>
<!-- <td>{{budgetItem.order}}</td> -->
<td>
    <div *ngIf="budgetItem.categoryId">
        <a [routerLink]="['../category', budgetItem.categoryId  ]">{{budgetItem.categoryCategoryName}}</a>
    </div>
</td>
<td *ngFor="let budgetItemPeriod of budgetItemPeriods; let first = first;" [ngClass]="{'table-primary': first}">
    <div *ngIf="budgetItemPeriod">

        <ng-template [ngIf]="budgetItemPeriod.isSmoothed" [ngIfElse]="is_dated">
            <fa-icon [icon]="'chart-line'"></fa-icon>
        </ng-template>
        <ng-template #is_dated>
            <fa-icon [icon]="'calendar-alt'"></fa-icon> {{budgetItemPeriod.date | date: 'dd'}}
            <ng-template [ngIf]="budgetItemPeriod.operationId" [ngIfElse]="has_operation">
                <fa-icon [icon]="'check'" class="text-success"></fa-icon>
            </ng-template>
            <ng-template #has_operation>
                <fa-icon [icon]="'times'" class="text-danger"></fa-icon>
            </ng-template>
        </ng-template>
        <a [routerLink]="['/', { outlets: { popup: 'mya-budget-item-period/'+ budgetItemPeriod.id + '/update'} }]"
            queryParamsHandling="merge">
            <fa-icon [icon]="'pencil-alt'" size="xs"></fa-icon>
        </a>
        <br />
        {{budgetItemPeriod.amount | currency:'EUR'}}
        <a [routerLink]="['/', { outlets: { popup: 'mya-budget-item-period/'+ budgetItemPeriod.id + '/delete-with-next'} }]"
            replaceUrl="true" queryParamsHandling="merge">
            <fa-icon [icon]="'trash-alt'" size="xs"></fa-icon>
        </a>
        <div *ngIf="isLast(budgetItemPeriod)">
            <a>
                <i (click)="extend()">
                    <fa-icon [icon]="'angle-double-right'" size="xs"></fa-icon>
                </i>
            </a>
        </div>
    </div>
</td>

<td class="text-right">
    <div class="btn-group flex-btn-group-container">
        <button type="submit" [routerLink]="['/', { outlets: { popup: 'mya-budget-item/'+ budgetItem.id + '/delete'} }]"
            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
            <fa-icon [icon]="'trash-alt'"></fa-icon>
        </button>
    </div>
</td>