<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-operation-heading">Create or edit a Operation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!operation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="operation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                        [(ngModel)]="operation.label" required maxlength="400"/>
                    <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.label?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.label?.errors?.maxlength">
                        This field cannot be longer than 400 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="operation.date"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="operation.amount" required/>
                    <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amount?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amount?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="operation.note" maxlength="400"/>
                    <div [hidden]="!(editForm.controls.note?.dirty && editForm.controls.note?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.note?.errors?.maxlength">
                        This field cannot be longer than 400 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_checkNumber">Check Number</label>
                    <input type="text" class="form-control" name="checkNumber" id="field_checkNumber"
                        [(ngModel)]="operation.checkNumber" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.checkNumber?.dirty && editForm.controls.checkNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.checkNumber?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isUpToDate">Is Up To Date</label>
                    <input type="checkbox" class="form-control" name="isUpToDate" id="field_isUpToDate"
                        [(ngModel)]="operation.isUpToDate" />
                    <div [hidden]="!(editForm.controls.isUpToDate?.dirty && editForm.controls.isUpToDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isUpToDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deletingHardLock">Deleting Hard Lock</label>
                    <input type="checkbox" class="form-control" name="deletingHardLock" id="field_deletingHardLock"
                        [(ngModel)]="operation.deletingHardLock" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_subCategory">Sub Category</label>
                    <select class="form-control" id="field_subCategory" name="subCategory" [(ngModel)]="operation.subCategoryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subCategoryOption.id" *ngFor="let subCategoryOption of subcategories; trackBy: trackSubCategoryById">{{subCategoryOption.subCategoryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_account">Account</label>
                    <select class="form-control" id="field_account" name="account" [(ngModel)]="operation.accountId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bankAccount">Bank Account</label>
                    <select class="form-control" id="field_bankAccount" name="bankAccount" [(ngModel)]="operation.bankAccountId"  required>
                        <option *ngIf="!editForm.value.bankAccount" [ngValue]="null" selected></option>
                        <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.bankAccount?.dirty && editForm.controls.bankAccount?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.bankAccount?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
