<div>
    <h2 id="page-heading">
        <span>Operations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operation" [routerLink]="['/operation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Operation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="operations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="label"><span>Label</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span>Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span>Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span>Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="checkNumber"><span>Check Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isUpToDate"><span>Is Up To Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deletingHardLock"><span>Deleting Hard Lock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subCategorySubCategoryName"><span>Sub Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountLogin"><span>Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankAccountId"><span>Bank Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let operation of operations ;trackBy: trackId">
                <td><a [routerLink]="['/operation', operation.id, 'view' ]">{{operation.id}}</a></td>
                <td>{{operation.label}}</td>
                <td>{{operation.date | date:'mediumDate'}}</td>
                <td>{{operation.amount}}</td>
                <td>{{operation.note}}</td>
                <td>{{operation.checkNumber}}</td>
                <td>{{operation.isUpToDate}}</td>
                <td>{{operation.deletingHardLock}}</td>
                <td>
                    <div *ngIf="operation.subCategoryId">
                        <a [routerLink]="['../sub-category', operation.subCategoryId , 'view' ]" >{{operation.subCategorySubCategoryName}}</a>
                    </div>
                </td>
                <td>
                    {{operation.accountLogin}}
                </td>
                <td>
                    <div *ngIf="operation.bankAccountId">
                        <a [routerLink]="['../bank-account', operation.bankAccountId , 'view' ]" >{{operation.bankAccountId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/operation', operation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/operation', operation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'operation', { outlets: { popup: operation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
