<div class="table-responsive" *ngIf="operations">
    <table class="table table-striped">
        <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th></th>
                <th></th>
                <th jhiSortBy="label"><span>Libellé</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="date"><span>Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="amount"><span>Montant</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="checkNumber"><span>#</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="subCategorySubCategoryName"><span>Sous Catégorie</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bankAccountId"><span>Compte</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
            </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
            [infiniteScrollDistance]="0">
            <tr *ngFor="let operation of operations ;trackBy: trackId" style="margin: 0em; border: 0em; font-size: 80%">
                <td><jhi-mya-category-icon categoryId="{{operation.categoryId}}" iconSize="36"></jhi-mya-category-icon></td>
                <td>
                <ng-template [ngIf]="operation.budgetItemPeriodId">
                                <mat-icon style='color:green' class="material-icons md-16" matTooltip="Dépense pointée" matTooltipPosition="above">account_balance_wallet</mat-icon>
                            </ng-template>
                </td>
                
                <td>{{operation.label}}
                    <mat-icon class="material-icons md-14 md-primary" matTooltip="{{operation.note}}" matTooltipPosition="right">info</mat-icon></td>
                <td>{{operation.date | date:'mediumDate'}}</td>
                <td>{{operation.amount | currency:'EUR'}}</td>
                <td>{{operation.checkNumber}}</td>
                <td>{{operation.subCategorySubCategoryName}}</td>
                <td>
                    <div *ngIf="operation.bankAccountShortName; else bankAccountName">{{operation.bankAccountShortName}}</div>
                    <ng-template #bankAccountName>{{operation.bankAccountName}}</ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>