<div>
    <h2 id="page-heading">
        <span>Liste des Opérations</span>
        <button mat-fab [disabled]="refreshOn" style="vertical-align: center;" (click)="importOperationsFiles()"
            class="float-right" color="primary">
            <mat-icon style="vertical-align: center;position: relative;" class="material-icons"
                matTooltip="Importer les fichier" matTooltipPosition="left">autorenew</mat-icon>
        </button>
        
        <div class="float-right" >
            <jhi-app-material-file-upload [text]="''" [accept]="'text/csv'" (complete)="onFileComplete($event)">
            </jhi-app-material-file-upload>
        </div>
        <!-- <div style="text-align:center">
            <jhi-app-material-file-upload [text]="'Télécharger opérations'" [accept]="'text/csv'" (complete)="onFileComplete($event)"></jhi-app-material-file-upload>
      </div> -->
    </h2>

    <br />
    <mat-card>
        <mat-card-title>Filtres</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input matInput [matDatepicker]="dp1" placeholder="A partir de :" [formControl]="dateFrom">
                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="dp2" placeholder="Jusqu'à :" [formControl]="dateTo">
                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-select [(value)]="filterSelectedCategory" placeholder="Choisir une catégorie">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let category of filterCategories" [value]="category">{{category.categoryName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Chercher une valeur" [(ngModel)]="amount" />
                <button mat-button *ngIf="amount" matSuffix mat-icon-button aria-label="Clear" (click)="amount=0">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-slider [max]="1000" [min]="0" [step]="10" [thumbLabel]="true" value="0" [(ngModel)]="amountInterval"
                [vertical]="false">
            </mat-slider>


            <ng-template [ngIf]="amount">
                [{{getLeftAmountInterval() | currency:'EUR'}}, {{getRightAmountInterval() | currency:'EUR'}}]
            </ng-template>

        </mat-card-content>
    </mat-card>
    <div class="container">
        <div class="row"></div>

    </div>
</div>
<jhi-mya-operation-list [dateFrom]="dateFrom.value" [dateTo]="dateTo.value"
    [filterSelectedCategory]="filterSelectedCategory" [amountFrom]="getLeftAmountInterval()"
    [amountTo]="getRightAmountInterval()"></jhi-mya-operation-list>
</div>