<div class="row">
    <div class="col-md-3">
        <img src="../../content/images/dashboard.png" width="300px">
    </div>
    <div class="col-md-6">
        <h1 class="display-4">Bienvenue dans MyAccount !</h1>


        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Si vous voulez vous </span>
                <a class="alert-link" (click)="login()">connecter</a><span>, utiliser vos identifiants
            </div>

        </div>

        
    </div>
    <div class="col-md-3">
        <img src="../../content/images/dashboard_per_category.png" width="300px">
    </div>
</div>