<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <h1 mat-dialog-title>Création d'un entrée budgétaire</h1>
    <div mat-dialog-content>
        <br/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-slide-toggle color="primary" [(ngModel)]="newBudgetItemPeriod.isSmoothed" name="isSmoothed">
                    Dépense lissée
                </mat-slide-toggle>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Montant" [(ngModel)]="newBudgetItemPeriod.amount" required name="amount">
                    <span matSuffix>€</span>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6" [hidden]="newBudgetItemPeriod.isSmoothed">
                <mat-form-field>
                    <input matInput placeholder="Jour du mois" [(ngModel)]="day" name="day" [required]="!newBudgetItemPeriod.isSmoothed">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            <mat-icon>block</mat-icon>&nbsp;
            <span>Annuler</span>
        </button>
        <button mat-raised-button type="submit" color="primary">
            <mat-icon>save_alt</mat-icon>&nbsp;
            <span>Sauvegarder</span>
        </button>
    </div>
</form>