<td style="margin: 0em; background-color:rgba(0, 0, 0, 0); border: 0em; font-size: 90%">
    <div class="container">
        <div class="row">

            <div class="col-xs-10">
                <div class="container">
                    <div class="row" style="vertical-align: middle">
                        
                        <ng-template [ngIf]="budgetItemPeriod.isSmoothed" [ngIfElse]="is_dated">
                            <mat-icon style='color:grey' class="material-icons md-16" matTooltip="Dépense lissée" matTooltipPosition="above">trending_up</mat-icon>
                        </ng-template>
                        <ng-template #is_dated>
                            <mat-icon style='color:grey' class="material-icons md-16" matTooltip="Dépense à échéance fixe" matTooltipPosition="above">date_range</mat-icon>{{budgetItemPeriod.date
                            |
                            date: 'dd'}} &nbsp;
                            <ng-template [ngIf]="budgetItemPeriod.operationId" [ngIfElse]="has_no_operation">
                                <mat-icon style='color:green' class="material-icons md-16" matTooltip="Dépense pointée" matTooltipPosition="above">account_balance_wallet</mat-icon>
                            </ng-template>
                            <ng-template #has_no_operation>
                                <ng-template [ngIf]="isInFuture" [ngIfElse]="is_not_in_future">
                                    <mat-icon style='color:grey' class="material-icons md-16">account_balance_wallet</mat-icon>
                                </ng-template>
                                <ng-template #is_not_in_future>
                                    <ng-template [ngIf]="countOperationsClose != 0" [ngIfElse]="has_operation_close">
                                        <mat-icon *ngIf="isFirst" matBadgeSize="small" [matBadge]="countOperationsClose"
                                            style='color:red' class="material-icons md-16" matTooltip="Dépense à pointer avec opération(s) disponible(s)" matTooltipPosition="above">account_balance_wallet</mat-icon>
                                    </ng-template>
                                    <ng-template #has_operation_close>
                                        <mat-icon *ngIf="isFirst" style='color:orange' class="material-icons md-16" matTooltip="Dépense à pointer sans opération disponible" matTooltipPosition="above">account_balance_wallet</mat-icon>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </ng-template>
                    </div>
                    <div class="row" style="vertical-align: middle">
                            <mat-icon style='color:grey' class="material-icons md-16">euro_symbol</mat-icon>{{budgetItemPeriod.amount | currency:'EUR':''}}
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon class="material-icons md-18" matTooltip="Editer" matTooltipPosition="above">more_vert</mat-icon>
                    <!-- <mat-icon class="material-icons md-18">build</mat-icon> -->
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openUpdateDialog()">
                        <mat-icon class="material-icons md-24 md-primary">edit</mat-icon>
                        <span>Modifier</span>
                    </button>
                    <button mat-menu-item (click)="openDeleteDialog()">
                        <mat-icon style='color:red' class="material-icons md-24">delete_forever</mat-icon>
                        <span>Supprimer</span>
                    </button>
                    <div *ngIf="budgetItemPeriod.isRecurrent">
                        <button mat-menu-item (click)="openCreateDialog()">
                            <mat-icon class="material-icons md-24 md-primary">playlist_add</mat-icon>
                            <span>Ajouter</span>
                        </button>
                    </div>
                    <div *ngIf="isLast">
                        <button mat-menu-item (click)="extend()">
                            <mat-icon style='color:green' class="material-icons md-24">arrow_forward</mat-icon>
                            <span>Etendre</span>
                        </button>
                    </div>
                </mat-menu>
            </div>
        </div>
    </div>


</td>