<h1 mat-dialog-title>Confirmer la suppression de cet élément</h1>

<div mat-dialog-content>
    <p>Êtes vous certain de vouloir supprimer ainsi que les suivants ?</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button  mat-dialog-close>
        <mat-icon>block</mat-icon> Non
    </button>
    <button mat-raised-button (click)="confirmDelete()" mat-dialog-close color="warn">
        <mat-icon>delete_forever</mat-icon>Oui
    </button>
</div>
