<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    
        <h1 mat-dialog-title>Modification de <b>{{budgetItem.name}}</b> pour la période
            {{budgetItemPeriod.month | date: 'MMM-yyy'}}</h1>
        <br/>
    <div mat-dialog-content>
        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-slide-toggle [disabled]="disableInput()" color="primary" [formControl]="isSmoothedForm" (change)="onIsSmoothedChange()">
                    Dépense lissée
                </mat-slide-toggle>
            </div>
            <div class="form-group col-md-6">
                <mat-slide-toggle color="primary" [formControl]="modifyNextForm" (change)="onModifyNextChange()"
                    [disabled]="!budgetItemPeriod.isRecurrent">
                    Modification des suivants
                </mat-slide-toggle>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">

                <div class="input-group mb-2">
                    <mat-form-field>
                        <input matInput [disabled]="disableInput()" placeholder="Montant" [(ngModel)]="budgetItemPeriod.amount"
                            name="amount">
                        <span matSuffix>€</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-6" [hidden]="budgetItemPeriod.isSmoothed">
                <mat-form-field>
                    <input matInput [disabled]="disableInput()" placeholder="Jour du mois" [(ngModel)]="day" name="day"
                        [required]="!budgetItemPeriod.isSmoothed">
                </mat-form-field>


            </div>
        </div>

        <div class="form-group" *ngIf="!budgetItemPeriod.isSmoothed && operationsClose !== undefined && operationsClose.length !== 0">
            <label class="form-control-label" for="field_operation">Operations</label><br />
            <mat-radio-group style="display: inline-flex;flex-direction: column;" [(ngModel)]="selectedOperation" name="operation">
                <table>
                    <tr *ngIf="budgetItemPeriod.operationId" style="vertical-align: middle;">
                        <td>
                            <mat-radio-button (change)="onOperationUnselect()" color="primary"></mat-radio-button>
                        </td>
                        <td></td>
                        <td><i>Ne plus pointer</i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let operation of operationsClose" style="vertical-align: middle;">

                        <td>
                            <mat-radio-button [disabled]="operation.budgetItemPeriodId && operation.budgetItemPeriodId != budgetItemPeriod.id"
                                [value]='operation' (change)="onOperationSelect($event)" color="primary">
                            </mat-radio-button>
                        </td>
                        <td>
                            <mat-icon *ngIf="operation.budgetItemPeriodId" style='color:green' class="material-icons md-16"
                                matTooltip="Dépense pointée" matTooltipPosition="above">account_balance_wallet</mat-icon>
                        </td>
                        <td>{{operation.label}}</td>
                        <td>&nbsp;{{operation.amount | currency: 'EUR'}}&nbsp;</td>
                        <td>&nbsp;{{operation.date | date: 'dd MMM yyy'}}&nbsp;</td>
                    </tr>
                </table>
            </mat-radio-group>

        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            <mat-icon>block</mat-icon>&nbsp;
            <span>Annuler</span>
        </button>
        <button mat-raised-button type="submit" color="primary" [disabled]="isSaving">
            <mat-icon>save_alt</mat-icon>&nbsp;
            <span>Sauvegarder</span>
        </button>
    </div>
</form>