<div>
    <h2 id="page-heading">
        <span>Report Data By Dates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-report-data-by-date" [routerLink]="['/report-data-by-date/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Report Data By Date
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reportDataByDates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span>Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="month"><span>Month</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hasOperation"><span>Has Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operationAmount"><span>Operation Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="budgetSmoothedAmount"><span>Budget Smoothed Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="budgetUnsmoothedMarkedAmount"><span>Budget Unsmoothed Marked Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="budgetUnsmoothedUnmarkedAmount"><span>Budget Unsmoothed Unmarked Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoryId"><span>Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountLogin"><span>Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let reportDataByDate of reportDataByDates ;trackBy: trackId">
                <td><a [routerLink]="['/report-data-by-date', reportDataByDate.id, 'view' ]">{{reportDataByDate.id}}</a></td>
                <td>{{reportDataByDate.date | date:'mediumDate'}}</td>
                <td>{{reportDataByDate.month | date:'mediumDate'}}</td>
                <td>{{reportDataByDate.hasOperation}}</td>
                <td>{{reportDataByDate.operationAmount}}</td>
                <td>{{reportDataByDate.budgetSmoothedAmount}}</td>
                <td>{{reportDataByDate.budgetUnsmoothedMarkedAmount}}</td>
                <td>{{reportDataByDate.budgetUnsmoothedUnmarkedAmount}}</td>
                <td>
                    <div *ngIf="reportDataByDate.categoryId">
                        <a [routerLink]="['../category', reportDataByDate.categoryId , 'view' ]" >{{reportDataByDate.categoryId}}</a>
                    </div>
                </td>
                <td>
                    {{reportDataByDate.accountLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/report-data-by-date', reportDataByDate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/report-data-by-date', reportDataByDate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'report-data-by-date/'+ reportDataByDate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
